<div class="content-heading">
  <div>
    Dashboard
    <small>{{ "dashboard.WELCOME" | translate }} !</small>
  </div>
</div>
<!-- START cards box-->
<div class="row">
  <div class="col-xl-3 col-md-6">
    <!-- START card-->
    <div class="card flex-row align-items-center align-items-stretch border-0">
      <div class="col-12 py-3 bg-primary rounded-right">
        <div class="h2 mt-0">Sede 1</div>
        <div class="text-uppercase">Fecha Intervencion</div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <!-- START card-->
    <div class="card flex-row align-items-center align-items-stretch border-0">
      <div class="col-12 py-3 bg-purple rounded-right">
        <div class="h2 mt-0">Sede 2</div>
        <div class="text-uppercase">fecha</div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-12">
    <!-- START card-->
    <div class="card flex-row align-items-center align-items-stretch border-0">
      <div class="col-12 py-3 bg-green rounded-right">
        <div class="h2 mt-0">Sede 3</div>
        <div class="text-uppercase">fecha</div>
      </div>
    </div>
  </div>
    <div class="col-xl-3 col-lg-6 col-md-12">
        <!-- START card-->
        <div class="card bg-warning border-0">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-3">
                        <em class="fa fa-shopping-cart fa-5x"></em>
                    </div>
                    <div class="col-9 text-right">
                        <div class="text-lg">02/04/2025</div>
                        <p class="m-0">Plan proximo a vencer</p>
                    </div>
                </div>
            </div>
            <a class="card-footer bg-gray-dark bt0 clearfix btn-block d-flex" href="#">
                        <span>Renovar</span>
                        <span class="ml-auto">
                           <em class="fa fa-chevron-circle-right"></em>
                        </span>
                     </a>
        </div>
        <!-- END card-->
    </div>
</div>
<!-- END cards box-->
<div class="row">
  <!-- START dashboard main content-->
  <div class="col-xl-9">
    <!-- START chart-->
    <div class="row">
      <div class="col-xl-12">
        <!-- START card-->
        <div class="card card-default">
          <div class="card-header">
            <div class="card-title">Participacion en sedes</div>
          </div>
          <div class="card-body">
            <canvas
              baseChart
              [chartType]="'bar'"
              [options]="barOptions"
              [datasets]="barData.datasets"
              [colors]="barColors"
              [labels]="barData.labels"
              [legend]="false"
              height="120"
            ></canvas>
          </div>
        </div>
        <!-- END card-->
      </div>
    </div>
    <!-- END chart-->
 
    <div class="row">
  
      <div class="col-xl-12">
        <div class="card card-default">
          <div class="card-header">
            <div class="px-2 float-right badge badge-danger">5</div>
            <div class="px-2 mr-2 float-right badge badge-success">12</div>
            <div class="card-title">RetroAlimentacion Participantes</div>
          </div>
          <!-- START list group-->
          <scrollable class="list-group" height="180">
            <!-- START list group item-->
            <div class="list-group-item list-group-item-action">
              <div class="media">
                <img
                  class="align-self-start mx-2 circle thumb32"
                  src="assets/img/user/02.jpg"
                  alt="Image"
                />
                <div class="media-body text-truncate">
                  <p class="mb-1">
                    <strong class="text-primary">
                      <span
                        class="circle bg-success circle-lg text-left"
                      ></span>
                      <span>Catherine Ellis</span>
                    </strong>
                  </p>
                  <p class="mb-1 text-sm">
                    Cras sit amet nibh libero, in gravida nulla. Nulla...
                  </p>
                </div>
                <div class="ml-auto">
                  <small class="text-muted ml-2">2h</small>
                </div>
              </div>
            </div>
            <!-- END list group item-->
            <!-- START list group item-->
            <div class="list-group-item list-group-item-action">
              <div class="media">
                <img
                  class="align-self-start mx-2 circle thumb32"
                  src="assets/img/user/03.jpg"
                  alt="Image"
                />
                <div class="media-body text-truncate">
                  <p class="mb-1">
                    <strong class="text-primary">
                      <span
                        class="circle bg-success circle-lg text-left"
                      ></span>
                      <span>Jessica Silva</span>
                    </strong>
                  </p>
                  <p class="mb-1 text-sm">
                    Cras sit amet nibh libero, in gravida nulla. Nulla...
                  </p>
                </div>
                <div class="ml-auto">
                  <small class="text-muted ml-2">3h</small>
                </div>
              </div>
            </div>
            <!-- END list group item-->
            <!-- START list group item-->
            <div class="list-group-item list-group-item-action">
              <div class="media">
                <img
                  class="align-self-start mx-2 circle thumb32"
                  src="assets/img/user/09.jpg"
                  alt="Image"
                />
                <div class="media-body text-truncate">
                  <p class="mb-1">
                    <strong class="text-primary">
                      <span class="circle bg-danger circle-lg text-left"></span>
                      <span>Jessie Wells</span>
                    </strong>
                  </p>
                  <p class="mb-1 text-sm">
                    Cras sit amet nibh libero, in gravida nulla. Nulla...
                  </p>
                </div>
                <div class="ml-auto">
                  <small class="text-muted ml-2">4h</small>
                </div>
              </div>
            </div>
            <!-- END list group item-->
            <!-- START list group item-->
            <div class="list-group-item list-group-item-action">
              <div class="media">
                <img
                  class="align-self-start mx-2 circle thumb32"
                  src="assets/img/user/12.jpg"
                  alt="Image"
                />
                <div class="media-body text-truncate">
                  <p class="mb-1">
                    <strong class="text-primary">
                      <span class="circle bg-danger circle-lg text-left"></span>
                      <span>Rosa Burke</span>
                    </strong>
                  </p>
                  <p class="mb-1 text-sm">
                    Cras sit amet nibh libero, in gravida nulla. Nulla...
                  </p>
                </div>
                <div class="ml-auto">
                  <small class="text-muted ml-2">1d</small>
                </div>
              </div>
            </div>
            <!-- END list group item-->
            <!-- START list group item-->
            <div class="list-group-item list-group-item-action">
              <div class="media">
                <img
                  class="align-self-start mx-2 circle thumb32"
                  src="assets/img/user/10.jpg"
                  alt="Image"
                />
                <div class="media-body text-truncate">
                  <p class="mb-1">
                    <strong class="text-primary">
                      <span class="circle bg-danger circle-lg text-left"></span>
                      <span>Michelle Lane</span>
                    </strong>
                  </p>
                  <p class="mb-1 text-sm">
                    Mauris eleifend, libero nec cursus lacinia...
                  </p>
                </div>
                <div class="ml-auto">
                  <small class="text-muted ml-2">2d</small>
                </div>
              </div>
            </div>
            <!-- END list group item-->
          </scrollable>
          <!-- END list group-->
          <!-- START card footer-->
          <div class="card-footer clearfix">
            <div class="input-group">
              <input
                class="form-control form-control-sm"
                type="text"
                placeholder="Search message .."
              />
              <span class="input-group-btn">
                <button class="btn btn-secondary btn-sm" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </div>
          <!-- END card-footer-->
        </div>
      </div>
    </div>
  </div>
  <!-- END dashboard main content-->
  <!-- START dashboard sidebar-->
  <div class="col-xl-3">
    <!-- START loader widget-->
    <div class="card card-default">
      <div class="card-body">
        <a class="text-muted float-right" href="">
          <em class="fa fa-arrow-right"></em>
        </a>
        <div class="text-info">Participacion</div>
        <div class="text-center py-4">
          <div
            class="easypie-chart easypie-chart-lg"
            easypiechart
            [options]="pieOptions"
            [percent]="easyPiePercent"
          >
            <span>{{ easyPiePercent }}%</span>
          </div>
        </div>
        <div
          class="text-center"
          [sparkline]="sparkOptions1"
          values="5,4,8,7,8,5,4,6,5,5,9,4,6,3,4,7,5,4,7"
        ></div>
      </div>
    </div>
    <!-- END loader widget-->
    <!-- START messages and activity-->
    <div class="card card-default">
      <div class="card-header">
        <div class="card-title">Actividades Realizadas</div>
      </div>
      <!-- START list group-->
      <div class="list-group">
        <!-- START list group item-->
        <div class="list-group-item">
          <div class="media">
            <div class="align-self-start mr-2">
              <span class="fa-stack">
                <em class="fa fa-circle fa-stack-2x text-purple"></em>
                <em
                  class="fas fa-cloud-upload-alt fa-stack-1x fa-inverse text-white"
                ></em>
              </span>
            </div>
            <div class="media-body text-truncate">
              <p class="mb-1">
                <a class="text-purple m-0" href="#">Sesion 1</a>
              </p>
              <p class="m-0">
                <small><a href="#">Ir al detalle</a> </small>
              </p>
            </div>
            <div class="ml-auto">
              <small class="text-muted ml-2">15m</small>
            </div>
          </div>
        </div>
        <!-- END list group item-->
        <!-- START list group item-->
        <div class="list-group-item">
          <div class="media">
            <div class="align-self-start mr-2">
              <span class="fa-stack">
                <em class="fa fa-circle fa-stack-2x text-info"></em>
                <em
                  class="far fa-file-alt fa-stack-1x fa-inverse text-white"
                ></em>
              </span>
            </div>
            <div class="media-body text-truncate">
              <p class="mb-1">
                <a class="text-info m-0" href="#">Sesion 2</a>
              </p>
              <p class="m-0">
                <small><a href="#">Ir al detalle</a> </small>
              </p>
            </div>
            <div class="ml-auto">
              <small class="text-muted ml-2">2h</small>
            </div>
          </div>
        </div>
        <!-- END list group item-->
        <!-- START list group item-->
        <div class="list-group-item">
          <div class="media">
            <div class="align-self-start mr-2">
              <span class="fa-stack">
                <em class="fa fa-circle fa-stack-2x text-danger"></em>
                <em
                  class="fa fa-exclamation fa-stack-1x fa-inverse text-white"
                ></em>
              </span>
            </div>
            <div class="media-body text-truncate">
              <p class="mb-1">
                <a class="text-danger m-0" href="#">Sesion 3</a>
              </p>
              <p class="m-0"><a href="#">Ir al detalle</a></p>
            </div>
            <div class="ml-auto">
              <small class="text-muted ml-2">5h</small>
            </div>
          </div>
        </div>
        <!-- END list group item-->
        <!-- START list group item-->
        <div class="list-group-item">
          <div class="media">
            <div class="align-self-start mr-2">
              <span class="fa-stack">
                <em class="fa fa-circle fa-stack-2x text-success"></em>
                <em class="far fa-clock fa-stack-1x fa-inverse text-white"></em>
              </span>
            </div>
            <div class="media-body text-truncate">
              <p class="mb-1">
                <a class="text-success m-0" href="#">Sesion 4</a>
              </p>
              <p class="m-0">
                <small
                  >On
                  <em>10/12/2015 09:00 am</em>
                </small>
              </p>
            </div>
            <div class="ml-auto">
              <small class="text-muted ml-2">15h</small>
            </div>
          </div>
        </div>

        
      </div>
     </div>
  </div>
  
</div>
