<div class="home-container">
  <div class="row">
    <div class="col-lg-4">
      <!-- Agregamos un evento (click) para llamar al método -->
      <div class="card b" (click)="goToListPlan()">
        <div class="card-header">
          <h3>Empresas</h3>
        </div>
        <div class="card-body">
          A Webpack powered command line interface with tons of utilities. Serve
          and build your project with a single command.
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card b">
        <div class="card-header">
          <h3>Usuarios</h3>
        </div>
        <div class="card-body">
          Powerful and modern routes definitions. Easily declare routes and
          nested routes with components association.
        </div>
      </div>
    </div>
  </div>
</div>
