<div class="content-heading">
    <div>
      Empresa:
        <small>Listado de Proyectos</small>
    </div>
</div>
<div class="list-group mb-3">
    <a class="list-group-item" (click)="goToPlan()">
        <table class="wd-wide">
            <tbody>
                <tr>
                    <td class="wd-xs">
                        <div class="px-2">
                            <img class="img-fluid rounded thumb64" src="assets/img/dummy.png" alt="" />
                        </div>
                    </td>
                    <td>
                        <div class="px-2" >
                            <h4 class="mb-2">Plan A</h4>
                            <small class="text-muted">Vestibulum ante ipsum primis in faucibus orci</small>
                        </div>
                    </td>
                    <td class="wd-sm  d-none d-lg-table-cell">
                        <div class="px-2">
                            <p class="m-0">Last change</p>
                            <small class="text-muted">4 weeks ago</small>
                        </div>
                    </td>
                    <td class="wd-xs d-none d-lg-table-cell">
                        <div class="px-2">
                            <p class="m-0 text-muted">
                                <em class="icon-people mr-2 fa-lg"></em>26</p>
                        </div>
                    </td>
                    <td class="wd-xs d-none d-lg-table-cell">
                        <div class="px-2">
                            <p class="m-0 text-muted">
                                <em class="icon-doc mr-2 fa-lg"></em>3500</p>
                        </div>
                    </td>
                    <td class="wd-sm">
                        <div class="px-2">
                            <progressbar class="m-0 progress-xs" [value]="80" type="success"></progressbar>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </a>
</div>

<!-- END Multiple List group-->
